@charset "utf-8";

/* 代行依頼ページのスタイル */
body.order {
    #order-thanks {
        padding: 2.0rem 0;

        .order-thanks-txt {
            margin: 0 0 2.0rem;
            text-align: center;
            font-size: 0.9rem;
            font-weight: $fw-normal;
            line-height: 1.5;
            color: $color-txt-main;
        }

        .order-show-link {
            @include flex-center;
            width: 12rem;
            height: 2.5rem;
            margin: 0 auto;
            font-size: 0.9rem;
            font-weight: $fw-bold;
            color: #ffffff;
            background-color: $color-primary;
        }
    }
}
